<div class="contact row">
    <div class="map-container row">
        <ul class="map-links col-md-4 col-sm-5" ng-init="map=1">
            <h2>Наші відділення</h2>
            <p>Оберіть адресу відділення, щоб переглянути на карті</p>
            <li><a ng-click="map=1" class="transition" target="_blank">Вул. Пулюя 16, СЗШ №83</a></li>
            <li><a ng-click="map=2" class="transition" target="_blank">Вул. Замкнена 8, СШ№34</a></p>
            <li><a ng-click="map=3" class="transition" target="_blank">Вул. Кос-Анатольського 10, ССЗШ №93</a></li>
            <li><a ng-click="map=4" class="transition" target="_blank">Вул. Плугова 12/а, Політехнік-Еколенд,</a></li>
            <li><a ng-click="map=5" class="transition" target="_blank">Вул. Полтави 30, СЗШ №60</a></p>
            <li><a ng-click="map=6" class="transition" target="_blank">Вул. Антоненка-Давидовича 11, ДНЗ №175</a></li>
            
        </ul>
        
        <div class="n-pad-r-l col-md-8 col-sm-7">
            <iframe ng-if="map==1" src="https://www.google.com.ua/maps/embed?pb=!1m14!1m8!1m3!1d2575.0931507994983!2d23.9807145!3d49.8031164!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae7a66c6da7af%3A0x3a98bd061b3323f4!2z0KHQtdGA0LXQtNC90Y8g0LfQsNCz0LDQu9GM0L3QvtC-0YHQstGW0YLQvdGPINGI0LrQvtC70LAg4oSWODM!5e0!3m2!1suk!2sua!4v1474644120778" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            <iframe ng-if="map==2" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.1188418703455!2d24.01300931570935!3d49.840224479395786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add771c3e2be1%3A0x1226856cd09855e2!2z0LLRg9C70LjRhtGPINCX0LDQvNC60L3QtdC90LAsIDgsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1474644460487" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            <iframe ng-if="map==3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.885251557163!2d24.061926415707518!3d49.78822277938956!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae869ee64f5fb%3A0x53029de2c1c47bfb!2z0LLRg9C70LjRhtGPINCa0L7RgS3QkNC90LDRgtC-0LvRjNGB0YzQutC-0LPQviwgMTAsINCb0YzQstGW0LIsINCb0YzQstGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjA!5e0!3m2!1suk!2sua!4v1474644484710" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            <iframe ng-if="map==4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2571.275323890298!2d24.043793315710648!3d49.87485597940012!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473adcf77b408163%3A0xd62694a8e82c5bc8!2z0JXQmtCe0JvQldCd0JQg0L7RgdCy0ZbRgtC90ZbQuSDQutGD0LvRjNGC0YPRgNC90L4t0L7Qt9C00L7RgNC-0LLRh9C40Lkg0YbQtdC90YLRgA!5e0!3m2!1suk!2sua!4v1474644502072" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            <iframe ng-if="map==5" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.915014327112!2d23.960895515708856!3d49.82526247939402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae768362435dd%3A0x58f78c5be6e8a260!2z0KHQtdGA0LXQtNC90Y8g0LfQsNCz0LDQu9GM0L3QvtC-0YHQstGW0YLQvdGPINGI0LrQvtC70LAg4oSWNjAg0IYt0IbQhtCGINGB0YLRg9C_0LXQvdGP!5e0!3m2!1suk!2sua!4v1474644517083" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            <iframe ng-if="map==6" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2575.6489099072023!2d24.060978415707645!3d49.79266697938998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae86b6d449943%3A0xcb8ab80089c2d9ef!2z0LLRg9C70LjRhtGPINCR0L7RgNC40YHQsCDQkNC90YLQvtC90LXQvdC60LAt0JTQsNCy0LjQtNC-0LLQuNGH0LAsIDExLCDQm9GM0LLRltCyLCDQm9GM0LLRltCy0YHRjNC60LAg0L7QsdC70LDRgdGC0Yw!5e0!3m2!1suk!2sua!4v1474644536739" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="form-container row">
        <div class="form col-md-12 col-sm-12">
            <h1 class="title">Зв'яжіться з нами</h1>
            <form method="POST" action="http://formspree.io/grytsenko.kate.ua@gmail.com">
                <div class="left-form">
                    <label for="name">Ім'я</label> 
                    <br> 
                    <input id="name" name="name" type="text" placeholder="Ім'я" required> 
                    <br> 
                    <label for="email">Email</label> 
                    <br> 
                    <input id="email" type="email" name="email" placeholder="Email" required> 
                    <br> 
                    <label for="phone">Телефон</label> 
                    <br> 
                    <input id="phone" name="phone" type="text" placeholder="Телефон" required>
                </div>
                <div class="right-form">
                    <label for="message">Повідомлення</label> 
                    <br> 
                    <textarea id="message" name="message" cols="30" rows="7" placeholder="Повідомлення"></textarea> 
                    <button type="submit" class="transition">Відправити</button> 
                </div>
            </form>
        </div>
    </div>
</div>